*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
    
    --font-family: "Archivo", serif;
    --text-heading1: 800 24px/1.35 var(--font-family);
    --text-heading2: 800 16px/1.4 var(--font-family);
    --text-heading3: 800 14px/1.4 var(--font-family);
    --text-a: 600 14px/1.45 var(--font-family);
    --text-paragraph: normal 14px/160% var(--font-family);

    --px-lg: 1rem;

    --py-lg: 1rem
    
}

@media (width >= 80em){
    :root{
        --px-lg: 2rem;
        --py-lg: 1.25rem;
    }
}

body{
    background-color: var(--bg-color);
}

img{
    max-width: 100%;
}