header{
    margin: auto;
}

.nav-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 26px;
}
.nav-left, .nav-right{
    display: flex;
    gap: 8px;
}
.nav-secondary{
    border: 1px solid var(--stroke-color);
    border-inline: none;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-block: 14px;
}